---
_extends: .github:common-settings.yaml

repository:
  name: works
  description: '@bfra-me tools and components'
  topics: works, bfra-me, tools, components, tsconfig, semantic-release

branches:
  - name: main
    protection:
      required_status_checks:
        strict: false
        contexts:
          - Analyze
          - Build
          - CI
          - CodeQL
          - Create Renovate Changeset
          - Lint
          - Prepare
          - Renovate / Renovate
          - Review Dependencies
          - Test

      enforce_admins: true
      required_pull_request_reviews: null
      restrictions: null
      required_linear_history: true
