*-debug.log
*-error.log
.nyc_output
dist
lib
package-lock.json
yarn.lock
node_modules
oclif.manifest.json
*.tsbuildinfo
*.d.ts.map
*.js.map
_fixtures
.DS_Store
packages/eslint-config/src/types.ts
.tsup
