*-debug.log
*-error.log
.nyc_output
dist
lib
!packages/api-core/src/lib/
!packages/api-core/test/lib/
package-lock.json
yarn.lock
node_modules
oclif.manifest.json
*.tsbuildinfo
*.d.ts.map
*.js.map
_fixtures
.DS_Store
.tsup
