public-hoist-pattern[] = *@bfra.me*
public-hoist-pattern[] = *eslint*
public-hoist-pattern[] = *prettier*
resolution-mode = time-based
save-prefix =
shell-emulator = true
strict-peer-dependencies = true
