# Continuous Integration jobs for changes pointed to main.
---
name: Main

on:
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Prepare job
        uses: ./.github/actions/pnpm-install

  lint:
    name: Lint
    needs: prepare
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Prepare job
        uses: ./.github/actions/pnpm-install

      - env:
          TIMING: 1
        name: Lint
        run: pnpm run lint

      - name: Type coverage check
        run: pnpm run type-coverage

  test:
    name: Test
    needs: prepare
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Prepare job
        uses: ./.github/actions/pnpm-install

      - name: Run tests
        run: pnpm run test

  build:
    name: Build
    needs: prepare
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Prepare job
        uses: ./.github/actions/pnpm-install

      - name: Build
        run: pnpm run build

  ci:
    name: CI
    needs: [build, lint, test]
    runs-on: ubuntu-latest

    steps:
      - name: Verify
        run: echo "All checks passed!"
