# Continuous Integration jobs for changes pointed to main.
---
name: Main

on:
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Prepare job
        uses: ./.github/actions/pnpm-install

      # TODO: We currently have to build before linting or testing
      - name: Build
        run: pnpm run build

      - name: Run `@bfra.me/tsconfig` schema tests to populate cache
        run: pnpm run test --project @bfra.me/tsconfig
        continue-on-error: true

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Prepare job
        uses: ./.github/actions/pnpm-install

      # TODO: We currently have to build before linting
      - name: Build before linting
        run: pnpm run build

      - env:
          TIMING: 1
        name: Lint
        run: pnpm run lint

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: prepare

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Prepare job
        uses: ./.github/actions/pnpm-install

      - name: Run tests
        run: pnpm run test

      - name: Type coverage check
        run: pnpm run type-coverage

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: prepare

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Prepare job
        uses: ./.github/actions/pnpm-install

      - name: Build
        run: pnpm run build

  ci:
    name: CI
    needs: [lint, test, build]
    runs-on: ubuntu-latest

    steps:
      - name: Verify
        run: echo "All checks passed!"
