---
name: Create Renovate Changeset

on:
  merge_group:
  pull_request_target:
  workflow_dispatch:

jobs:
  create-changeset:
    name: Create Renovate Changeset
    runs-on: ubuntu-latest
    if: github.repository == 'bfra-me/works' && ( github.actor == 'bfra-me[bot]' || github.actor == 'renovate[bot]' || github.event_name == 'workflow_dispatch' )
    steps:
      - id: get-workflow-access-token
        name: Get Workflow Access Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APPLICATION_ID }}
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - name: Setup Git user
        run: |
          git config --global user.email '118100583+bfra-me[bot]@users.noreply.github.com'
          git config --global user.name 'bfra-me[bot]'

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}
          token: ${{ steps.get-workflow-access-token.outputs.token }}

      - name: Setup pnpm
        uses: ./.github/actions/pnpm-install

      - id: filter
        name: Filter changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: .github/filters.yaml

      - name: Run changesets-renovate
        if: steps.filter.outputs.changes == 'true'
        env:
          NPM_VERSION: 2.2.4 # renovate: datasource=npm depName=@scaleway/changesets-renovate
          PRIVATE_PACKAGES: '@bfra.me/works,docs,scripts'
          SKIP_COMMIT: 'TRUE'
          SORT_CHANGESETS: 'TRUE'
        run: |
          pnpx @scaleway/changesets-renovate@${NPM_VERSION}
          # Clean private package entries from changesets
          pnpm run clean-changesets
          # Commit and push changes
          SHORT_HASH=$(git rev-parse --short HEAD)
          git add .changeset/
          git commit -m "chore: add changeset renovate-${SHORT_HASH}" || echo "No changes to commit"
          git push
